.Header {
	width: 100%;
	height: auto;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	.headerScroll {
		padding: 20px 0;
		background: var(--header-scroll);
		transition: padding 0.5s, background 0.2s;

		@media (max-width: 767px) {
			padding: 10px 0;
			backdrop-filter: none;
			-webkit-backdrop-filter: none;

			background: #18131de0;
			box-shadow: none;
		}
	}
	.headerScroll.active {
		padding: 10px 0;

		backdrop-filter: blur(7px);
		-webkit-backdrop-filter: blur(7px);

		background: var(--header-scroll-active);
		box-shadow: 0px 0px 5px var(--header-scroll-box-shadow);

		@media (max-width: 767px) {
			backdrop-filter: none;
			-webkit-backdrop-filter: none;

			background: #18131de0;
			box-shadow: none;
		}
	}
	.content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		h1 {
			font-size: clamp(7px, 6vw, 30px);
			font-weight: 600;
			color: rgb(13, 13, 14);
			span {
				font-size: clamp(7px, 6vw, 30px);
				font-weight: 600;
				color: rgb(91, 36, 241);
			}
		}
		nav {
			display: flex;
			align-items: center;
			gap: 25px;
			.link {
				cursor: pointer;
				font-size: clamp(7px, 5vw, 16px);
				font-weight: 500;

				transition: 0.3s;

				color: var(--header-text-color);

				&:hover {
					color: var(--header-text-color-hover);
				}
				&.active {
					background: -webkit-linear-gradient(-70deg, #ef00fc 0%, #d287f6 100%);
					-webkit-background-clip: text;
					background-clip: text;
					-webkit-text-fill-color: rgba(0, 0, 0, 0);
					-webkit-box-decoration-break: clone;
				}
			}
		}
	}
}
