.Welcome {
	width: 100%;
	height: auto;
	.content {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		padding-block: 65px;
		.content1 {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.me_content {
				display: flex;
				flex-direction: column;
				align-items: start;
				gap: 20px;
				.main_text_div {
					width: 100%;
					max-width: 650px;
          display: flex;
          flex-direction: column;
          gap: 11px;
					h1 {
						font-size: clamp(9px, 8vw, 40px);
						font-weight: 800;
						color: rgb(22, 20, 20);
					}
					h2 {
						font-size: clamp(9px, 7vw, 30px);
						font-weight: 700;
            color: rgb(91, 36, 241);
            
					}
				}
        p {
          font-size: clamp(7px, 4vw, 18px);
          font-weight: 400;
          color: rgb(22, 20, 20);
          width: 100%;
          max-width: 650px;
        }
        .icons_div {
          display: flex;
          align-items: center;
          gap: 16px;
        }
			}
		}
	}
}
